<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:property-placeholder location="application.properties"/>

    <bean id="myFortune" class="com.self.xmlDemo.HappyFortuneService"/>
    <bean id="myCoach" class="com.self.xmlDemo.CricketCoach">
        <constructor-arg ref="myFortune"/>
        <property name="emailAddress" value="cricketcoach@abcd.com"/>
        <property name="teamName" value="Singapore Cricket Warriors"/>
    </bean>

    <bean id="myCoach2" class="com.self.xmlDemo.FieldCoach">
        <property name="fortuneService" ref="myFortune"/>
        <property name="emailAddress" value="${coach.email}"/>
        <property name="teamName" value="${coach.team}"/>
    </bean>
</beans>
